* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #4e35df, #32047c);
    animation: gradient 15s ease infinite;
}
main {
    width: 100%;
    height: 100%;
}

.weather-information {
    position: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
    margin-left: 15%;
    width: 70%;
    height: 200px;
}

.weather-information img {
    margin-left: 20px;
    max-width: 180px;
    max-height: 180px;
    width: auto;
    height: auto;
}

.weather-spans {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    max-height: 180px;
}

.group-1 {
    width: 49%;
    height: 100%;
}

.group-2 {
    width: 49%;
    height: 100%;
}

.city-name {
    display: block;
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
    font-family: roboto;
    font-size: 35px;
    font-weight: bold;
}

.city-temperature {
    display: block;
    margin-bottom: 20px;
    width: 90%;
    margin-left: 5%;
    font-family: roboto;
    font-size: 65px;
    font-weight: bold;
}

.city-sky {
    display: block;
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
    font-family: roboto;
    font-size: 25px;
    font-weight: 400;
}

.city-wind {
    display: block;
    margin-bottom: 20px;
    width: 90%;
    margin-left: 5%;
    font-family: roboto;
    font-size: 25px;
    font-weight: 400;
}

aside {
    position: flex;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
}

.user-information {
    width: 50%;
}

aside span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: roboto;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

input {
    display: block;
    width: 100%;
    height: 40px;
    background: #f2f2f2;
    border-radius: 10px;
    margin-bottom: 20px;
}

input::placeholder {
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #818181;
}

button {
    width: 100%;
    height: 40px;
    text-align: center;
    text-justify: center;
    background: #c4c4c4;
    border-radius: 10px;
}

.hidden {
    display: none;
}
